@media (max-width: 1730px) {
    .home .fotos img {
        width: 50%;
        align-items: end;
        display: flex;
    }

    .home h1 {
        display: flex;
        width: 50%;
        padding: 800px 0px 500px 0px;
    }

    .home h2 {
        display: flex;
        padding: 788px 0px 0px 1100px;
    }
}

@media (max-width: 1365px) {
    .home .fotos img {
        width: 50%;
        align-items: end;
        display: flex;
    }

    .home h1 {
        display: flex;
        width: 50%;
        padding: 640px 0px 500px 0px;
    }

    .home h2 {
        width: 100%;
        display: inline-block;
        padding: 658px 0px 0px 850px;
    }
}

@media (max-width: 688px) {

    body {
        background: black;
    }

    .home .fotos img {
        width: 80%;
        display: inline-block;
        justify-content: center;
        align-items: end;
    }

    .home h1 {
        display: flex;
        width: 50%;
        padding: 480px 0px 400px 210px;
    }

    .home h2 {
        width: 200%;
        display: inline-block;
        padding: 499px 0px 0px 650px;
    }

}

@media (max-width: 1024px) {

    body {
        background: black;
    }

    .home .fotos img {
        width: 70%;
        display: inline-block;
        justify-content: center;
        align-items: end;
    }

    .home h1 {
        display: flex;
        width: 50%;
        padding: 650px 0px 100px 210px;
    }

    .home h2 {
        width: 111%;
        display: inline-block;
        padding: 650px 0px 0px 870px;
    }

}

@media (max-width: 414px) {

    .home .fotos img {
        width: 150%;
        display: inline-block;
        justify-content: center;
        align-items: end;
    }

    .home h1 {
        display: flex;
        width: 50%;
        padding: 550px 0px 190px 310px;
    }

    .home h2 {
        width: 400%;
        display: inline-block;
        padding: 520px 0px 0px 690px;
    }
}